.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid var(--dark);
  border-radius: 8px;
  background-color: var(--primary);
  box-shadow: 0 2px 4px var(--lightDark);
}

.header {
  font-size: 24px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  text-align: center;
  margin-top: 0px;
  border-bottom: 2px solid var(--secondary);
}

.formGroup {
  margin-bottom: 15px;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input,
.textarea,
.select {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--secondary);
  border-radius: 4px;
  box-sizing: border-box;
}

.input:focus,
.textarea:focus,
.select:focus {
  outline: none;
  border-color: var(--dark);
}

.textarea {
  resize: vertical;
}

.checkboxLabel {
  display: flex;
  align-items: center;
}

.checkbox {
  margin-right: 10px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: var(--lightDark);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: var(--dark);
}
